<div class="parameters">
    <div class="form inputs">
        <div class="form-item">
            <label for="">Date:</label>
            <input type="date" id="date" value="{{date}}">
        </div>
        <div class="form-item">
            <label for="">From:</label>
            <input type="text" id="from" value="{{start}}">
        </div>
        <div class="form-item">
            <label for="">Till:</label>
            <input type="text" id="till" value="{{end}}">
        </div>
        <div class="form-item">
            <label for="">Activity:</label>
            <input type="text" id="activity">
        </div>
        <div class="form-item">
            <label for="">Issue:</label>
            <input type="text" id="issue">
        </div>
    </div>
    <button type="button" id="save">Save</button>
    <button type="button" id="back">Back</button>
</div>